@import 'compass';
@import 'compass/reset';
@import 'ui-elements/chunky-buttons';
@import 'ui-elements/tags';
@import 'ui-elements/tooltips';
@import 'ui-elements/inputs';
@import 'ui-elements/shinyButtons';



body {
  background-color: #f9f9f9;
  font-family: helvetica,arial,sans-serif;
}

h1 {
  font-size: 20px;
  color: #222;
  font-weight: bold;
  padding-bottom: 10px;
}

h2 {
  font-size: 25px;
  color: #222;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 4px solid #222;
  padding-bottom: 10px;
}

p {
  font-size: 14px;
  color: #222; 
  line-height: 1.6;
  margin-bottom: 1em;
}
.container {
  margin: 50px auto;
  width: 400px;
}

.container {

  .chunky-button {
    margin-right: 10px;
    margin-bottom: 15px;
  }
 
 .tag {
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .tooltip {
    margin-right: 35px;
  }
  
}

.container.tooltips {
    p {
    margin-bottom: 2em;
  }
}

.container {
  .clean-input {
    margin-bottom: 10px;
  }
}

a {
  color: #1169c1;
  &:hover {
    color: #222;
  }
}