.tag {
  @include border-left-radius(2px);
  @include box-sizing(border-box);
  @include text-shadow(0 1px 0 rgba(#FFF,.4));
  @include box-shadow(inset 0 1px 0 rgba(#FFF,.3));
  position: relative;
  display: inline-block;
  height: 20px;
  padding: 0 6px 0 8px;
  border: 1px solid #CCC;
  border-right: 0;
  line-height: 18px;
  font-size: 11px;
  font-family: 'helvetica neue','helvetica',arial,sans-serif;
  background-color: #EEE;
  font-weight: 600;
  
  &:after {
    @include box-shadow(inset 0 1px 0 rgba(#FFF,.3));
    @include rotate(45deg);
    @include box-sizing(border-box);
    position: absolute;
    z-index: -1;
    top: 2px;
    right: -7px;
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    border: 1px solid #CCC;
    background-color: #EEE;
  }
}

@mixin tag($border-color,$border-top,$color,$top-gradient,$bottom-gradient) {
  border-color: $border-color;
  border-top-color: $border-top;
  color: $color;
  background-color: $top-gradient; // Old browsers
  @include filter-gradient($top-gradient, $bottom-gradient, vertical); // IE6-9
  @include background-image(linear-gradient(top, $top-gradient 0%,$bottom-gradient 100%));

  
  &:after {
    border-color: $border-top;
    border-right-color: $border-color;
    background-color: $top-gradient; // Old browsers
    
    @include filter-gradient($top-gradient, $bottom-gradient, vertical); // IE6-9
    @include background-image(linear-gradient(top, $top-gradient 0%,$bottom-gradient 100%));
  }
}

.tag.yellow {
  @include tag($border-color: #f2ac20, $border-top: #fbc538, $color: #996633, $top-gradient: #feda71, $bottom-gradient: #febe4d)
}

.tag.robinsegg {
  @include tag($border-color: #68b6b8, $border-top: #87d3d5, $color: #437b7d, $top-gradient: #b6f1f4, $bottom-gradient: #81e8eb)
}


.tag.purple {
  @include tag($border-color: #ad7ca8, $border-top: #da9fd4, $color: #7b5777, $top-gradient: #e8c4e4, $bottom-gradient: #d698d0)
}

.tag.slate {
  @include tag($border-color: #83909a, $border-top: #a1aeb7, $color: #515f6a, $top-gradient: #becbd6, $bottom-gradient: #8da5b7)
}

.tag.pink {
  @include tag($border-color: #d16573, $border-top: #ee8090, $color: #913944, $top-gradient: #f997b0, $bottom-gradient: #f56778)
}

.tag.green {
  @include tag($border-color: #89a94d, $border-top: #aad063, $color: #5d7731, $top-gradient: #cae285, $bottom-gradient: #a3cd5a)
}

.tag.ocean {
  @include tag($border-color: #67abc5, $border-top: #8cc5d9, $color: #42788e, $top-gradient: #a8e3f8, $bottom-gradient: #74d0f4)
}

.tag.dark {
  @include tag($border-color: #464646, $border-top: #535353, $color: #FFF, $top-gradient: #656565, $bottom-gradient: #444);
  @include text-shadow(0 1px 0 rgba(#000,.4));
  @include box-shadow(inset 0 1px 0 rgba(#FFF,.1));
  &:after {
   @include box-shadow(inset 0 1px 0 rgba(#FFF,.1)); 
  }
}